<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  >
    <parameter name="login" value="admin" />
    <parameter name="password" value="secret" />
    <test name="Test">

        <classes>
            <class name="testsWP.LoginTest"/>
            <class name="testsWP.PostTest"/>
        </classes>
    </test>
</suite>